doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Acortador de enlaces web, acortador de URL, URL con marca')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(href='/style.css' rel='stylesheet' type='text/css')
    if pageTitle
      title #{websiteName} | #{pageTitle}
    else
      title #{websiteName} | Acortador de enlaces web, acortador de URLs
    block head
  body
    main
      block header
        header
          h1: a(href='/') #{websiteName}
          p Acortador de enlaces web
          hr
      if pageTitle
        h3.center #{pageTitle}
      if error
        p.msg.error #{error}
      if success
        p.msg.success #{success}
      block content

    footer.center
      hr
      small
        if pageTitle
          a(href='/') ← volver al inicio
          br
        else
          block footer
