doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(
      name='description'
      content='Linkeame. Acortador de URLs en español. Acorta tus enlaces web gratis. Enlaces con marca personalizada.'
    )
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(href='/style.css' rel='stylesheet' type='text/css')
    block head
    if pageTitle
      title #{config.app.name} | #{pageTitle}
    else
      title #{config.app.name} | Acortador de URLs, acortador de enlaces en español
  body
    header
      h1: a(href='/') #{config.app.name}
      p Acortador de enlaces
      hr
      block header
    main
      if pageTitle
        h3.center #{pageTitle}
      if success
        p.msg.success #{success}
      if error
        p.msg.error #{error}
      block content
    footer.center
      hr
      small
        if pageTitle
          a(href='/') ← volver al inicio
        else
          block footer
