extends default

block content
  form(method='POST')
    input(name='_csrf' type='hidden' value=csrfToken)
    input(name='_numbers' type='hidden' value=numbers)
    label(for='url') Enlace largo
    input#url(name='url' required type='text' value=url)
    label(for='code') Código personalizado (opcional)
    code linkea.me/
    input#code(
      maxlength=config.link.size.max
      name='code'
      type='text'
      value=code
    )
    div.right
      small acepta letras, números y guiones
    label(for='challenge') Verificación
    img(alt='Verificación' src=`data:image/jpeg;base64,${validationCode}`)
    input#challenge(name='challenge' required type='text')
    p
    button(type='submit') Acortar
  p
  include includes/paypal.pug

block footer
  p: a(href='/apoyo'): strong Apoyar
  p: a(href='/faq') Preguntas frecuentes
  p: a(href='/privacidad') Privacidad
  p: a(href='/terminos') Términos
