extends default

block head
  meta(name='robots' content='noindex')

block content
  if !clickCount
    p Para volver a esta página, guarda el siguiente enlace:
    p: a(href=`https://${adminUrl}`) #{adminUrl}
  p Enlace original:
  p: a(href=longUrl) #{longUrl}
  p Enlace corto:
  p: a(href=`https://${shortUrl}`) #{shortUrl}
  p Número de clicks: <strong>#{clickCount}</strong>

block footer
  a(href='/') ← volver al inicio
