extends default

block head
  meta(name='robots' content='noindex')

block content
  p Enlace corto
  p: a(href=shortUrlFull) #{shortUrl}
  if qrData
    p.b0 Código QR
    img.center(alt='Código QR' src=qrData)
  p Número de clicks
  p: strong #{clickCount}
  p Enlace original
  p: a(href=longUrl) #{longUrl}
