extends default

block head
  meta(name='robots' content='noindex')
  link(
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    rel='stylesheet'
    type='text/css'
  )

block content
  p
    | Enlace corto
    |  [
    span#copy(data-clipboard-text=shortUrl) copiar
    | ]
  p: a.break(href=shortUrlFull) #{shortUrl}

  p Compartir
  p.center
    a.fa.fa-twitter(
      href=`https://twitter.com/intent/tweet?url=${shortUrlFull}`
      target='_blank'
      title='Compartir en Twitter'
    )
    a.fa.fa-facebook(
      href=`https://www.facebook.com/sharer/sharer.php?u=${shortUrlFull}`
      target='_blank'
      title='Compartir en Facebook'
    )
    a.fa.fa-whatsapp(
      href=`https://api.whatsapp.com/send?text=${shortUrl}`
      target='_blank'
      title='Compartir en WhatsApp'
    )
    a.fa.fa-linkedin(
      href=`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(shortUrl)}`
      target='_blank'
      title='Compartir en LinkedIn'
    )
  if qrData
    img.center(alt='Código QR' src=qrData)
  p.t0 Número de clicks
  p: strong #{clickCount}
  p Enlace original
  p: a.break(href=longUrl) #{longUrl}

  script(src='/clip.js')
  script(src='/main.js')
