extends default

block head
  meta(name='robots' content='noindex')

block content
  if !clickCount
    h4 ¡Tu enlace fue acortado!
  p Enlace original:
  p: a(href=longUrl) #{longUrl}
  p Enlace corto:
  p: a(href=`http://${shortUrl}`) #{shortUrl}
  p Ha sido accedido <strong>#{clickCount}</strong> veces.
