extends default

block content
  if success
    h3 ¡Tu enlace fue acortado correctamente!
  p El enlace largo:
  p.indent: a(href=longUrl) #{longUrl}
  p Fue acortado a:
  p.indent: a(href=`http://${shortUrl}`) #{shortUrl}
  p Ha sido accedido <strong>#{clickCount}</strong> veces.
