extends default

block head
  meta(name='robots' content='noindex')

block content
  p Enlace corto:
  p: a(href=`https://${shortUrl}`) #{shortUrl}
  p Enlace original:
  p: a(href=longUrl) #{longUrl}
  p Número de clicks: <strong>#{clickCount}</strong>
  if !clickCount
    p
      | Guarda la
      a(href=`https://${adminUrl}`)  página actual
      |  para ver estadisticas de tu enlace corto.
