extends default

block head
  meta(name='robots' content='noindex')

block content
  if success
    h4 ¡Tu enlace fue acortado!
  p El enlace largo:
  p.indent: a(href=longUrl) #{longUrl}
  p Tiene el siguiente enlace corto:
  p.indent: a(href=`http://${shortUrl}`) #{shortUrl}
  p Ha sido accedido <strong>#{clickCount}</strong> veces.
